@model IEnumerable<GroupWebApplication.Models.ImageModel>
@using SQLitePCL

@{
    ViewData["Title"] = "Alt Home Page";
}
<table class="table">
    <tbody>
        <img src="https://apod.nasa.gov/apod/image/1911/LighthouseMilkyWay_Salazar_960.jpg" alt="daily image">
        <h1>Images Recently Featured</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
            </tr>
        }
    </tbody>
</table>

