@using System.Diagnostics.CodeAnalysis
@using Microsoft.EntityFrameworkCore.Infrastructure
@using SQLitePCL
@model GroupWebApplication.Models.ImageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To Our NASA Collection</h2>
    
    <img src="@Html.DisplayFor(Model => Model.Url)" alt="@Html.DisplayFor(Model => Model.Title)">
    
</div>

